.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50%;
    margin: 0 auto;
}
.rocketCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
@media(max-width:600px){
    .rocketCard {
        flex-direction: column;
    }
    .Main {
        font-size: 14px;
    }
}